
<div class="h-screen border bg-gray-300">
  <div class="mx-auto mt-10 h-fit w-80 md:max-w-6xl rounded-lg border bg-white shadow-lg md:flex md: md:w-full md:flex-col">
    <div class="mt-5 flex flex-col md:ml-4 md:mt-2 md:h-32 md:shrink-0 md:flex-row md:items-center">
      <img class="m-auto mb-3 h-20 w-20 rounded-full object-cover md:-m-0 md:mr-4" src="https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" />

      <div class="md:w-full">
        <p class="-mb-1 w-full justify-center px-10 text-center text-gray-500 md:w-full md:px-0 md:text-left">Welcome back,</p>
        <h1 class="text-center text-2xl font-bold md:text-left">Andrew Smith</h1>
        <p class="w-full justify-center px-10 text-center text-gray-500 md:w-full md:px-0 md:text-left">Product Manager</p>
      </div>

      <div class="mt-2 mb-5 flex h-9 w-full justify-center md:mt-3 md:mr-4 md:justify-end">
        <button type="button" class="text-gray inline-flex items-center rounded-md border bg-white py-2 px-2 hover:bg-slate-100">View Profile</button>
      </div>
    </div>

    <div class="flex h-auto w-full flex-col items-center divide-y divide-slate-300 rounded-b bg-slate-200 text-sm md:flex-row md:border-t-slate-200 md:text-base md:divide-x-2 md:divide-y-0">
      <p class="h-10 w-full py-2 text-center md:p-4 md:h-16"><span class="font-medium">12</span> Vacation days left</p>
      <p class="h-10 w-full py-2 md:p-4 text-center md:h-16"><span class="font-medium">4</span> sick days left</p>
      <p class="h-10 w-full py-2 text-center md:p-4 md:h-16"><span class="font-medium">2</span> personal days left</p>
    </div>
  </div>
</div>
