<div class="justify m-4 flex flex-col items-center rounded-lg bg-gray-800 px-10 py-4 text-slate-100 lg:flex-row">
  <div class="container lg:flex lg:flex-wrap">
    <nav class="bg-grey-light w-full items-center justify-center rounded-md py-4 text-sm lg:p-1">
      <ol class="list-reset flex flex-wrap">
        <li><a href="#" class="text-gray-300 hover:text-slate-100">Jobs</a></li>
        <li><span class="mx-2 text-gray-500">></span></li>
        <li><a href="#" class="text-gray-300 hover:text-slate-100">Engineering</a></li>
        <li><span class="mx-2 text-gray-500">></span></li>
        <li class="text-gray-300">Back End developer</li>
      </ol>
    </nav>
      <div class="w-full flex flex-col lg:flex-row items-center">
     <h1 class="w-full justify-start text-left text-3xl font-bold lg:py-2">Back End Developer</h1>

      <div class="my-7 flex w-full justify-start md:justify-start lg:justify-end ml-auto">
      <a class="rounded bg-gray-700 py-2 px-4 hover:bg-slate-600" href="#">Edit</a>
      <a class="ml-2 rounded bg-indigo-600 py-2 px-4 hover:bg-indigo-700 lg:ml-4" href="#">Publish</a>
      </div>

    </div>
  </div>
</div>
